<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gowala is a Creative Dairy Farm & Eco Product HTML5 Template">
    <meta name="keywords" content="Gowala, HTML5, Dairy Farm & Eco Product, Template">
    <meta name="author" content="CodexCoder">

    <title>@ViewData["Title"] - Gowala</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/x-icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" type="text/css" href="~/assets/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<body>
    <!-- Mobile Navbar Partial -->
    @Html.Partial("_MobileNav")


    <!-- Header Partial -->
    @Html.Partial("_Header")

    <!-- Main Content -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- Footer Partial -->
    @Html.Partial("_Footer")

    <!-- ScrollToTop Partial -->
    @Html.Partial("_ScrollToTop")

    <!-- Scripts -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/fontawesome.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/jquery.easing.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/circular-countdown.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/theia-sticky-sidebar.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/functions.js"></script>
</body>
</html>
